*{
    margin:0;
    background-color: azure;
}
.topbar{
    background-color: indianred;
    padding: 1em;
    width: auto;
}
.topbar li{
    display: inline-block;
    background-color: indianred;
}

.topbar ul{
    background-color: indianred;
}
.topbar p{
    background-color: indianred;
}
.topbar input{
    font-size: 1.5em;
    background-color: greenyellow;
    border: 0.5px solid black;
}