<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vishal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "portal/portalindex.css" %}">
    <link rel="stylesheet" href="{% static "portal/" %}"
</head>
<body>

     <div class="topbar">
         <ul>
             <li><p>Vishal :VISHnu ALumni</p></li>
             <li></li>
         </ul>
     </div>
     <div class="imageslider">

     </div>
    <div class="content">
        <a href="{% url 'submit_info' %}"><input type="submit" value="Are you alumni?"></a>
    </div>
</body>
</html>