<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js">
</head>
<body>


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Thanks</h1>
        <p class="lead">Thank you very for being part of us. This info would be very helpful for other peers.Hope we see you again.</p>
      </div>
    </div>



</body>
</html>