<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
    <!--Fevicon added-->
    {% load static %}
    <link rel="icon" href="{% static 'portal/images/fevicon.png' %}" type="image/png">
    <!-- Latest compiled and minified CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'portal/css/bootstrap.min.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portal/css/thanks.css' %}">
    <!-- jQuery library -->
    {% load static %}
    <script src='{% static 'portal/js/jquery.min.js' %}' ></script>
    <!-- Popper JS -->
    {% load static %}
    <script src='{% static 'portal/js/popper.min.js' %}' ></script>
    <!-- Latest compiled JavaScript -->
    {% load static %}
    <script src='{% static 'portal/js/bootstrap.min.js' %}' ></script>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <div class="col-2">
                    <a class="navbar-brand" href="#">
                            {% load static %}
                            <img src="{% static 'portal/images/logo_head.png' %}" alt="https://upload.wikimedia.org/wikipedia/en/c/c2/Vishnu_Universal_Learning.png" width="100px">
                        </a>
            </div>
            <div class="col-7">
                <h2><b>VISHAL</b></h2>
                <h4>Vishnu Alumni</h4>
            </div>
            <div class="col-3">
                <h8>Mail: 16pa1a1247@vishnu.edu.in</h8>
                <h8>Website: <a href="www.vishnu.edu.in">www.vishnu.edu.in</a></h8>
            </div>
        </div>
    </nav>

    <div class="container mynav">
        <ul class="nav justify-content-center nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'listfeed' %}">Alumni</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Faculty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
            </li>
        </ul>
    </div>
    <div class="body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="jumbotron">
                      <h1 class="display-4">Thank you</h1>
                      <p class="lead">Thanks for registering to vishal for helping peers. We hope to see you soon enough. We miss you.</p>
                      <hr class="my-4">
                      <p>See other things in vishal. Vishal is not only for alumni but also students and faculty.</p>
                      <p class="lead">
                        <a class="btn btn-primary btn-lg mybut" href="{% url 'index' %}" role="button">Get around</a>
                      </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-group">
                    <div class="card">
                        {% load static %}
                        <img class="card-img-top" src="{% static 'portal/images/card1.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Alumni</h5>
                            <p class="card-text">See where your seniors stand right now in the industry. Ask them how did they do it in VITB to get there.</p>
                            <a href="{% url 'listfeed' %}" class="btn btn-primary mybut">Go to</a>
                        </div>
                    </div>
                    <div class="card">
                        {% load static %}
                        <img class="card-img-top" src="{% static 'portal/images/card2.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Student</h5>
                            <p class="card-text">We are like Family. Students are key part of that family. Get to know each other in family.</p>
                            <a href="{% url 'index' %}" class="btn btn-primary mybut">Go to</a>
                        </div>
                    </div>
                    <div class="card">
                        {% load static %}
                        <img class="card-img-top" src="{% static 'portal/images/card3.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Faculty</h5>
                            <p class="card-text">Teacher is the one who guides shapes the young into a great citizen, engineer, innovator etc.., They are the head of our Vishnu family. Get to know each other of out family.</p>
                            <a href="{% url 'index' %}" class="btn btn-primary mybut">Go to</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>